In [53]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [54]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [55]:
id()

'QIXoB'

In [56]:
def score():
    return np.random.randint(0, 100)

In [57]:
score()

85

In [58]:
df=pd.DataFrame([[score(),score(),score(),score()] for i in range(10)], index=[id() for i in range(1,11)], columns=['국어','영어','수학','사회'])

In [59]:
df

       국어  영어  수학  사회
mSsMN  15  64  34  14
yzMUb  87  22  57  90
LznvY  55  24  12  66
KrClT  43  11  80  33
ocLgb  89  10  31  28
vfCRK  37  34  15  28
BgfpF  89  19  69  41
IkjZa  66  74  65  16
jZDtw  13  20  44  32
Wjirv   8  29  94  78

In [60]:
df.loc[:,'국어']

mSsMN    15
yzMUb    87
LznvY    55
KrClT    43
ocLgb    89
vfCRK    37
BgfpF    89
IkjZa    66
jZDtw    13
Wjirv     8
Name: 국어, dtype: int64

In [61]:
df.loc[['mSsMN'],:]

       국어  영어  수학  사회
mSsMN  15  64  34  14

In [62]:
df.loc[:,'과학'] = pd.Series([score() for i in range(1, 11)], index=df.index)
df

       국어  영어  수학  사회  과학
mSsMN  15  64  34  14  79
yzMUb  87  22  57  90  96
LznvY  55  24  12  66  62
KrClT  43  11  80  33  17
ocLgb  89  10  31  28  75
vfCRK  37  34  15  28  49
BgfpF  89  19  69  41  93
IkjZa  66  74  65  16  44
jZDtw  13  20  44  32  14
Wjirv   8  29  94  78  94

In [63]:
# 각 학생들의 점수의 총 합을 표현하는 컬럼을 추가하세요

In [64]:
df['총점'] = df.sum(axis=1)
df

       국어  영어  수학  사회  과학   총점
mSsMN  15  64  34  14  79  206
yzMUb  87  22  57  90  96  352
LznvY  55  24  12  66  62  219
KrClT  43  11  80  33  17  184
ocLgb  89  10  31  28  75  233
vfCRK  37  34  15  28  49  163
BgfpF  89  19  69  41  93  311
IkjZa  66  74  65  16  44  265
jZDtw  13  20  44  32  14  123
Wjirv   8  29  94  78  94  303

In [65]:
df.loc["점수 합계", :] = df.sum()
df

          국어     영어     수학     사회     과학      총점
mSsMN   15.0   64.0   34.0   14.0   79.0   206.0
yzMUb   87.0   22.0   57.0   90.0   96.0   352.0
LznvY   55.0   24.0   12.0   66.0   62.0   219.0
KrClT   43.0   11.0   80.0   33.0   17.0   184.0
ocLgb   89.0   10.0   31.0   28.0   75.0   233.0
vfCRK   37.0   34.0   15.0   28.0   49.0   163.0
BgfpF   89.0   19.0   69.0   41.0   93.0   311.0
IkjZa   66.0   74.0   65.0   16.0   44.0   265.0
jZDtw   13.0   20.0   44.0   32.0   14.0   123.0
Wjirv    8.0   29.0   94.0   78.0   94.0   303.0
점수 합계  502.0  307.0  501.0  426.0  623.0  2359.0

In [67]:
df['등수'] = df.rank(axis=1)
df

ValueError: Wrong number of items passed 6, placement implies 1